<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <div>
            <div>Product name</div>
            <div>Price: <span>200,99</span></div>
            <div>Delivery date: <span>02/01/2023</span> </div>

            <div>Product: </div>
            <div>Product url</div>

            <div>Description</div>
            <div>
                <textarea>Product description</textarea>
            </div>

            <div>
                <img src="">
            </div>
        </div>
    </body>
</html>